body{
    background-color: rgb(235, 212, 212);
}
.firstdiv{
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.right{
    width: 50%;
    height: 90%;
}
.NAME{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.img{
    margin-left: 450px;
    width: 700px;
    height: 700px;
    border-radius: 5px;
}
.ok{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
}
.class{
    margin-left: 50px;
}
.moi{
    background-color: #161618;
    color: white;
    border-radius: 2px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 100px;
    z-index: 100;
}
.desi{
    font-size: x-large;
    width: 300px;
    font-weight: bold;
}
.bio{
    font-size: medium;
}
.bass{
    font-weight: bold;
}
.under{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 100px;
}
.lol{
    font-weight: bold;
    font-size: x-large;
}
.me{
    font-weight: lighter;

}